# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2
jobs:
  rubocop:
    docker:
      - image: circleci/ruby:2.5.5-stretch-node-browsers-legacy
        environment:
          RAILS_ENV: test
          MYSQL_HOST: mysql
          BUNDLER_VERSION: 2.0.2        
      - image: circleci/mysql:8.0.16-ram
        command: --default-authentication-plugin=mysql_native_password
        environment:
          MYSQL_HOST: mysql
          MYSQL_USERNAME: root
          MYSQL_ROOT_PASSWORD: root
          # MYSQL_PASSWORD: root        
          MYSQL_DATABASE: myapp_test

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: setup bundler
          command: |
            sudo gem update --system
            sudo gem uninstall bundler
            sudo rm /usr/local/bin/bundle
            # sudo rm /usr/local/bin/bundler
            sudo gem install bundler      
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: bundle install --jobs=4 --retry=3 --path vendor/bundler
      - run: yarn install
      - save_cache:
          paths:
            - ./vendor/bundler
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
      # Rubocop
      - run:
          name: Rubocop
          command: bundle exec rubocop

  rspec:
    docker:
      - image: circleci/ruby:2.5.5-stretch-node-browsers-legacy
        environment:
          RAILS_ENV: test
          MYSQL_HOST: mysql
          BUNDLER_VERSION: 2.0.2
      - image: circleci/mysql:8.0.16-ram
        command: --default-authentication-plugin=mysql_native_password
        environment:
          MYSQL_HOST: mysql
          MYSQL_USERNAME: root
          MYSQL_ROOT_PASSWORD: root
          # MYSQL_PASSWORD: root        
          MYSQL_DATABASE: myapp_test

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: setup bundler
          command: |
            sudo gem update --system
            sudo gem uninstall bundler
            sudo rm /usr/local/bin/bundle
            # sudo rm /usr/local/bin/bundler
            sudo gem install bundler
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: bundle install --jobs=4 --retry=3 --path vendor/bundler
      - run: yarn install
      - save_cache:
          paths:
            - ./vendor/bundler
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
      - run: bundle exec rails db:create         
      # - run: bundle exec rails db:schema:load 
      #上は実際にマイグレーションファイルを実行してスキーマフィルが生成されたら解放する,
      #以下それまでのエラー文
      #(/home/circleci/repo/db/schema.rb doesn't exist yet. Run `rails db:migrate` to create it, then try again. )


      # Rspec
      - run:
          name: Rspec
          command: bundle exec rspec

workflows:
  version: 2
  rubocop_rspec:
    jobs:
      - rubocop
      - rspec:
          requires:
            - rubocop