// webpackerエントリーポイント用scssファイル
//将来的に全部をvueファイルで置き換える時は消す

@import './modules/reset';

html,
body {
  width: 100%;
  height: 100%;
}

// デフォルトのGmapの要素をリセット
.gmnoprint,
.gm-style-cc,
.gm-control-active {
  display: none;
}

.gm-ui-hover-effect {
  display: none !important;
}

.gm-style-iw,
.gm-style-iw-c {
  min-width: 300px !important;
  min-height: 30px !important;
  max-height: 50px !important;
  padding: 0 !important;
}

.gm-style-iw-d {
  min-width: 300px;
  overflow: auto !important;

  &:active {
    background-color: #e4e4e4;
  }
}

#room_name {
  padding: 12px 0;
  font-size: 1.1rem;
  color: #3b3b3b;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  .lip_image {
    position: relative;
    top: 0.3rem;
    width: 1.3rem;
    height: 1.3rem;
    padding-left: 0.2rem;
  }
}
