// webpackerエントリーポイント用scssファイル
//将来的に全部をvueファイルで置き換える時は消す

@import './modules/reset';

html,
body {
  width: 100%;
  height: 100%;
}

// .gm-style-iw
// .gm-style-iw-c

// デフォルトのGmapの要素をリセット
.gmnoprint,
.gm-style-cc,
.gm-control-active {
  display: none;
}
