// webpackerエントリーポイント用scssファイル
//将来的に全部をvueファイルで置き換える時は消す

@import './modules/reset';

html,
body {
  width: 100%;
  height: 100%;
}

// デフォルトのGmapの要素をリセット
.gmnoprint,
.gm-style-cc,
.gm-control-active {
  display: none;
}

.gm-ui-hover-effect {
  display: none !important;
}

// 下記のよおうに直接当てるとoverflowの要素が働くときに
// スクロールの箇所だけ染まらなくなる。ので一旦保留。
.gm-style-iw,
.gm-style-iw-c {
  // &:hover {
  //   background: black;
  // }
  max-width: 400px !important;
  max-height: 400px !important;
}

#room_name {
  padding-left: 9px;
  font-size: 1.2rem;
  color: #3b3b3b;
  text-decoration: none;
  cursor: pointer; //ほんとはinfowindow全体にしたい

  .lip_image {
    position: relative;
    top: 0.36rem;
    width: 1.5rem;
    height: 1.5rem;
    padding-left: 0.2rem;
  }
}
